.vs
activemq-dotnet/Apache.NMS/build
activemq-dotnet/Apache.NMS/obj
activemq-dotnet/Apache.NMS.ActiveMQ/build
activemq-dotnet/Apache.NMS.ActiveMQ/obj
bin
TtsRelay/lib
TtsRelay/obj
TtsRelayGui/obj
vhmsg-net/obj
